## Python programozás (GKNB_MSTM032) Vizsgaminta 2.

### 1. feladat [6p]

A `planets` lista a Naprendszer bolygóinak tömegét és (átlagos) sugarát tartalmazza. Készíts programot, amely kiszámítja, hogy a bolygók felszínén érvényes nehézségi gyorsulás hányszorosa a földinek! A nehézségi gyorsulás képlete
$$g = G \frac{M}{R^2},$$
ahol $G = 6,67408 \cdot 10^{-11} \frac{Nm^2}{kg^2}$ az univerzális gravitációs állandó, $M$ a bolygó tömege, $R$ pedig a bolygó tömegközéppontjától mért távolság. A program ne csak a `planets` listára működjön, hanem bármely ugyanilyen formátumú, bemenetre is! Elvárt futási eredmény:
```

Merkúr: 0.38
Vénusz: 0.90
Föld: 1.00
...
```

In [40]:
planets = [
    # bolygó neve,  tömeg(10^21kg),  sugár(km)
    ('Merkúr',      330.2,           2439.7),
    ('Vénusz',      4868.5,          6051.8),
    ('Föld',        5973.6,          6371.0),
    ('Mars',        641.85,          3389.5),
    ('Jupiter',     1898600,         69911),
    ('Szaturnusz',  568460,          58232),
    ('Uránusz',     86832,           25362),
    ('Neptunusz',   102430,          24622)
]

import numpy as np

G = 6.67408 * (10**-11)

def g(M, R):
    return (G*((M)/(R**2)))

fold = 0
for p in planets:
    if p[0] == "Föld":
        fold = g(p[1], p[2])

for p in planets:
    print(f"{p[0]}: {g(p[1], p[2])/fold}")

Merkúr: 0.3769496013774445
Vénusz: 0.9032440557435801
Föld: 1.0
Mars: 0.3796132310165231
Jupiter: 2.639499109543111
Szaturnusz: 1.139083523141107
Uránusz: 0.9172587845193805
Neptunusz: 1.148046795304466

### 2. feladat [8p]

Készíts programot, amely bekéri a felhasználótól $n$ értékét, szimulál $n$ darab kockadobást, majd kiírja, hogy mi volt a leghosszabb 6-os sorozat hossza! Példa futási eredmény:
```

n: 50
31554643644341364414422455514666664664563666113524
A leghosszabb 6-os sorozat hossza: 5
```

In [41]:
from numpy import random

while 1:
    n = input()
    try:
        n = int(n)
        break
    except:
        continue

throws = random.randint(1,6+1,n)
counter = 0
maxSixInaRow = 0
for i in range(1, throws.shape[0]):
    if throws[i] == 6:
        counter += 1
        if counter > maxSixInaRow:
            maxSixInaRow = counter
        try:
            if throws[i+1] != 6:
                counter = 0
        except:
            continue

print(throws)
print(f"A leghosszabb 6-os sorozat hossza: {maxSixInaRow}")

[1 6 3 3 4 4 1 6 6 6 2 4 3 1 6 4 4 1 5 3]
A leghosszabb 6-os sorozat hossza: 3

### 3. feladat [10p]

A [hotels.txt](hotels.txt) szövegfájl Las Vegas-i szállodák értékeléséről tartalmaz adatokat. Minden sor egy szállóvendég által kiosztott értékeléshez tartozik. Készíts programot, amely kiszámítja és kiírja az alábbi statisztikákat:

- Hány db értékelés van összesen az egyes szállodákra vonatkozóan?
- A szobák száma (`Nr. rooms`) alapján melyik az öt legnagyobb szálloda?
- Hány ponttal magasabb a medencével (`Pool`) rendelkező szállodák átlagos értékelése (`Score`) a többi szálloda átlagos értékelésénél?

In [46]:
import pandas as pd

hotels = pd.read_csv("hotels.txt", delimiter=";")
hotels.head()

,Hotel name,Nr. rooms,Pool,Gym,Tennis court,Spa,Casino,Traveler type,Period of stay,Score
0,Circus Circus Hotel & Casino Las Vegas,3773,NO,YES,NO,NO,YES,Friends,Dec-Feb,5
1,Circus Circus Hotel & Casino Las Vegas,3773,NO,YES,NO,NO,YES,Business,Dec-Feb,3
2,Circus Circus Hotel & Casino Las Vegas,3773,NO,YES,NO,NO,YES,Families,Mar-May,5
3,Circus Circus Hotel & Casino Las Vegas,3773,NO,YES,NO,NO,YES,Friends,Mar-May,4
4,Circus Circus Hotel & Casino Las Vegas,3773,NO,YES,NO,NO,YES,Solo,Mar-May,4

In [43]:
hotels.value_counts(["Hotel name"])

Hotel name
Bellagio Las Vegas                                     24
The Cromwell                                           24
Wyndham Grand Desert                                   24
Tuscany Las Vegas Suites & Casino                      24
Trump International Hotel Las Vegas                    24
Tropicana Las Vegas - A Double Tree by Hilton Hotel    24
Treasure Island- TI Hotel & Casino                     24
The Westin las Vegas Hotel Casino & Spa                24
The Venetian Las Vegas Hotel                           24
The Palazzo Resort Hotel Casino                        24
The Cosmopolitan Las Vegas                             24
Caesars Palace                                         24
Paris Las Vegas                                        24
Monte Carlo Resort&Casino                              24
Marriott's Grand Chateau                               24
Hilton Grand Vacations on the Boulevard                24
Hilton Grand Vacations at the Flamingo                 24
Excalibur Hotel & Casino                               24
Encore at wynn Las Vegas                               24
Circus Circus Hotel & Casino Las Vegas                 24
Wynn Las Vegas                                         24
dtype: int64

In [83]:
hotels.drop_duplicates(subset=["Hotel name"]).sort_values("Nr. rooms", ascending=False)[:5]

,Hotel name,Nr. rooms,Pool,Gym,Tennis court,Spa,Casino,Traveler type,Period of stay,Score
408,The Venetian Las Vegas Hotel,4027,YES,YES,NO,YES,YES,Business,Dec-Feb,4
24,Excalibur Hotel & Casino,3981,YES,YES,NO,YES,YES,Couples,Dec-Feb,4
432,Bellagio Las Vegas,3933,YES,YES,NO,YES,YES,Solo,Dec-Feb,4
0,Circus Circus Hotel & Casino Las Vegas,3773,NO,YES,NO,NO,YES,Friends,Dec-Feb,5
120,Caesars Palace,3348,YES,YES,NO,YES,YES,Friends,Dec-Feb,5

In [90]:
hotels.groupby("Pool").mean()

      Nr. rooms     Score
Pool
NO      3773.00  3.208333
YES     2117.55  4.168750