## Python programozás (GKNB_MSTM032) Vizsgaminta 1.

### 1. feladat [6p]

Készíts programot, amely bekér a felhasználótól két sztringet, majd kiírja a bennük található leghosszabb közös részsztringet! Példa futási eredmény:
```
1. sztring: András
2. sztring: Bandi
A leghosszabb közös rész: nd
```

In [33]:
import time
import difflib as dl

def lkr(str1: str, str2: str):
    lkr = dl.SequenceMatcher(None, str1, str2).find_longest_match(0, len(str1), 0, len(str2))
    return str1[lkr.a:lkr.a+lkr.size]

start=time.time()
print(lkr("Andras", "Bandi"))
print(time.time()-start)

nd
5.53131103515625e-05

### 2. feladat [8p]

A `birthdays` lista kitalált személyek nevét és születési dátumát tartalmazza. Készíts programot, amely megkeresi, hogy kik állnak életkorban egymáshoz a legközelebb, és hány nap köztük a különbség! A program ne csak a megadott `birthdays` listára működjön, hanem tetszőleges, ugyanilyen formátumú bemenetre is! Feltehetjük, hogy minden név különböző, és legalább két név van megadva.

In [35]:
birthdays = [
    ('Kovács Andor',   '1999-10-29'),
    ('Kiss Martina',   '2000-02-13'),
    ('Horváth Barna',  '1999-12-05'),
    ('Győri Eszter',   '2000-10-29'),
    ('Nagy Tivadar',   '1999-08-16'),
    ('Tóth Tamara',    '2000-01-30'),
    ('Szakács Sándor', '1999-09-02')
]

from datetime import datetime

max_diff_pair = (birthdays[0], birthdays[1])
max_diff = abs((datetime.fromisoformat(max_diff_pair[0][1])-datetime.fromisoformat(max_diff_pair[1][1]))).days

min_diff_pair = (birthdays[0], birthdays[1])
min_diff = abs((datetime.fromisoformat(max_diff_pair[0][1])-datetime.fromisoformat(max_diff_pair[1][1]))).days

for i in range(len(birthdays)):
    for j in range(i+1, len(birthdays)):
        diff = abs((datetime.fromisoformat(birthdays[i][1])-datetime.fromisoformat(birthdays[j][1]))).days
        if diff > max_diff:
            max_diff = diff
            max_diff_pair = (birthdays[i], birthdays[j])
        if diff < min_diff:
            min_diff = diff
            min_diff_pair = (birthdays[i], birthdays[j])

print(max_diff_pair)
print(max_diff)
print()
print(min_diff_pair)
print(min_diff)

(('Győri Eszter', '2000-10-29'), ('Nagy Tivadar', '1999-08-16'))
440

(('Kiss Martina', '2000-02-13'), ('Tóth Tamara', '2000-01-30'))
14

Elvárt futási eredmény:
```

Életkorban legközelebb állók: Kiss Martina, Tóth Tamara
14 nap köztük a különbség
```

### 3. feladat [10p]

Az [investments.txt](investments.txt) szövegfájl amerikai cégekbe történő befektetésekről tartalmaz adatokat (a TechCrunch hírportál alapján). Készíts programot, amely kiszámítja és kiírja az alábbi statisztikákat:

- Hány befektetés történt összesen az egyes cégekbe?
- Melyik cégbe fektették be a legtöbb pénzt?
- Cégkategóriánként hány dollárt fektettek be összesen?

In [38]:
import pandas as pd

invs = pd.read_csv("investments.txt", delimiter="|")
invs.head()

,company,numEmps,category,city,state,fundedDate,raisedAmt,raisedCurrency,round
0,LifeLock,NaN,web,Tempe,AZ,1-May-07,6850000,USD,b
1,LifeLock,NaN,web,Tempe,AZ,1-Oct-06,6000000,USD,a
2,LifeLock,NaN,web,Tempe,AZ,1-Jan-08,25000000,USD,c
3,MyCityFaces,7.0,web,Scottsdale,AZ,1-Jan-08,50000,USD,seed
4,Flypaper,NaN,web,Phoenix,AZ,1-Feb-08,3000000,USD,a

In [40]:
invs.value_counts(["company"])

company
Facebook               7
Tesla Motors           5
Brightcove             5
Jingle Networks        5
Answers Corporation    5
                      ..
Labmeeting             1
Lala                   1
LaunchBox              1
Lehigh Technologies    1
xkoto                  1
Length: 891, dtype: int64

In [44]:
invs.groupby("company").sum().sort_values("raisedAmt", ascending=False)

                     numEmps  raisedAmt
company
Facebook              3150.0  495700000
Demand Media             0.0  355000000
ZeniMax                  0.0  309900000
Kayak                  174.0  214500000
OverSee                300.0  210000000
...                      ...        ...
Sleep.FM                 4.0      15000
Posterous                0.0      15000
Search to Phone          0.0      15000
InThrMa                  3.0      10000
Scintella Solutions      2.0      10000

[891 rows x 2 columns]